Package: com.raincat.ncm-unlock-ios
Name: NCM Unlock
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: 解锁网易云音乐 VIP 歌曲，支持音质选择
Maintainer: 毛利老王
Author: 毛利老王
Section: Tweaks
